extension=amqp.so
extension=redis.so
extension=memcached.so

upload_max_filesize={{ or (getenv "NUPHP_UPLOAD_MAX_FILESIZE") "2M"}}
post_max_size={{ or (getenv "NUPHP_POST_MAX_FILESIZE") "8M"}}
memory_limit={{ or (getenv "NUPHP_MEMORY_LIMIT") "128M"}}
expose_php={{ or (getenv "NUPHP_EXPOSE_VERSION") "Off"}}
session.cookie_httponly={{ or (getenv "NUPHP_SESSION_COOKIE_HTTPONLY") "On"}}
session.cookie_secure={{ or (getenv "NUPHP_SESSION_COOKIE_SECURE") "Off"}}
session.name={{ or (getenv "NUPHP_SESSION_NAME") "PHPSESSID"}}
session.save_handler={{ or (getenv "NUPHP_SESSION_SAVE_HANDLER") "files"}}
session.save_path={{ or (getenv "NUPHP_SESSION_SAVE_PATH") ""}}
